.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* my css  */
.review_container{
  margin: 0 auto;
  background-color:  white;
  border-radius: 6px;
  width: 50vw;
  max-width: var(--fixed-width);
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;

}
.review_image{
  box-shadow: 12px -3px 2px rgb(89, 132, 226);
  margin:0 auto;
  object-fit: cover;
  position: relative;
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  
}
.quote_icon{
  position: absolute;
  top:30px;
  left: 37%;
  background-color: rgb(89, 132, 226);
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 22px;
  padding: 6px 5px 3px 5px;
}
.name{
  font-size: 20px;
  word-spacing: 3px;
  letter-spacing: 1px;
}
.job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
  position: relative;
  margin-top: -20px;
  color: rgb(48, 146, 238);
}
.info {
  margin-bottom: 0.75rem;
  padding-left: 30px;
  padding-right: 30px;
}
.icon_chevron_left,.icon_chevron_right{
  color: rgb(136, 186, 233);
  margin-left: 10px;
  margin-right: 10px;
  background: none;
  border:none;
  font-size: large;
  transition: 0.3s;
  cursor: pointer;
}
.icon_chevron_left:hover,.icon_chevron_right :hover{
  color: rgb(33, 136, 231);
  
}

.btn_surprise{
  background-color: rgb(209, 222, 245);
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: 0.5s;
  border-color: transparent;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  margin-top: 10px;

}
.btn_surprise:hover {
  background-color: rgb(134, 174, 243);

}



/* my style end  */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
